.env
__*
downloads/
logs/
temp_downloads/

**/*.log
# Все изображения в любых подпапках
**/*.jpg
**/*.png
**/*.gif

# Все видео в любых подпапках
**/*.mp4
**/*.avi
**/*.mov

# Все файлы с расширениями изображений
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[pP][nN][gG]
*.[gG][iI][fF]